$white                 : #fff;
$grey_light            : #ccc;
$grey                  : #666;
$grey_dark             : #333;

$color_main_light      : #6f74dd;
$color_main            : #3949ab;
$color_main_dark       : #00227b;

$color_secondary_light : #819ca9;
$color_secondary       : #546e7a;
$color_secondary_dark  : #29434e;

$color_danger          : #f44336;
$color_success         : #4caf50;
$color_warning         : #ffc107;
