$font_head: 'Roboto', sans-serif;
$font_body: 'Roboto', serif;

$font_body_xs : .8rem;
$font_body_s  : .9rem;
$font_body_m  : 1rem;
$font_body_l  : 1.1rem;
$font_body_xl : 1.2rem;

%tp-h1 {
  font-family: $font_head;
  font-size: 4rem;
}
%tp-h2 {
  font-family: $font_head;
  font-size: 3rem;
}
%tp-h3 {
  font-family: $font_head;
  font-size: 2rem;
}
%tp-h4 {
  font-family: $font_head;
  font-size: 1.5rem;
}

%tp-p-xl {
  font-family: $font_body;
  font-size: 1.3rem;
  line-height: normal;
}
%tp-p-l {
  font-family: $font_body;
  font-size: 1.2rem;
  line-height: normal;
}
%tp-p-m {
  font-family: $font_body;
  font-size: 1.1rem;
  line-height: normal;
}
%tp-p-s {
  font-family: $font_body;
  font-size: 1rem;
  line-height: normal;
}
%tp-p-xs {
  font-family: $font_body;
  font-size: .9rem;
  line-height: normal;
}
%tp-p-xxs {
  font-family: $font_body;
  font-size: .8rem;
  line-height: normal;
}

%tp-p-xxxs {
  font-family: $font_body;
  font-size: .7rem;
  line-height: normal;
}

%link {
  text-decoration: none;
  transition: color .2s;
  color: $color-main;
  &:hover { text-decoration: underline; }
  &-light { color: $color_secondary_light; }
}

%button {
  font-family: $font_body;
  font-weight: 500;
}
