a {
    text-decoration: none;
    transition: color .2s;
    &.link-dark {
        color: $blue;
        &:hover { color: $blue-light; }
        &.active { color: $blue-light; }
    }
    &.link-light {
        color: $grey-light;
        &:hover { color: #fff; }
        &.active { color: #fff; }
    }
}