.App-header {
  background-color: #222;
  padding: 12px 18px;
  color: white;
  display: flex;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif; }
  .App-header p {
    margin-right: 48px; }

.text {
  margin: 0; }

.text-sm {
  font-size: 14px; }

.text-md {
  font-size: 18px; }

.text-lg {
  font-size: 24px; }

main {
  max-width: 1170px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 64px 24px; }

.activate-form {
  position: absolute;
  right: 50px;
  bottom: 50px; }

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6); }

.menu {
  display: flex; }
  .menu a {
    color: grey;
    margin-right: 18px; }
    .menu a.active {
      color: white; }
