@import url("https://fonts.googleapis.com/css?family=PT+Serif|Source+Sans+Pro:400,700&subset=cyrillic");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.page-spec #typography .section--content .h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4rem; }

.page-spec h1, .page-spec #typography .section--content .h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3rem; }

.page-spec .section--header, .page-spec #typography .section--content .h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem; }

.page-spec #typography .section--content .h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem; }

.page-spec #typography .section--content .xl {
  font-family: "PT Serif", serif;
  font-size: 1.3rem; }

.page-spec #typography .section--content .l {
  font-family: "PT Serif", serif;
  font-size: 1.2rem; }

.page-spec #typography .section--content .m {
  font-family: "PT Serif", serif;
  font-size: 1.1rem; }

.page-spec nav a, .page-spec #colors .color, .page-spec #typography .section--content .link p, .page-spec #typography .section--content .s {
  font-family: "PT Serif", serif;
  font-size: 1rem; }

.page-spec #typography .section--content .xs {
  font-family: "PT Serif", serif;
  font-size: .9rem; }

.page-spec nav a, .page-spec #typography .section--content .link a {
  text-decoration: none;
  transition: color .2s;
  color: #3949ab; }
  .page-spec nav a:hover, .page-spec #typography .section--content .link a:hover {
    text-decoration: underline; }
  .page-spec nav a, .page-spec #typography .section--content .link .dark a {
    color: #819ca9; }

a {
  text-decoration: none;
  transition: color .2s; }
  a.link-dark {
    color: #3949ab; }
    a.link-dark:hover {
      color: #6f74dd; }
    a.link-dark.active {
      color: #6f74dd; }
  a.link-light {
    color: #ccc; }
    a.link-light:hover {
      color: #fff; }
    a.link-light.active {
      color: #fff; }

.page-spec {
  margin-top: 41px; }
  .page-spec h1 {
    color: #fff;
    background: #3949ab;
    padding: 12px 24px 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: -40px;
    position: relative;
    z-index: 9; }
  .page-spec nav {
    display: flex;
    padding: 12px 24px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10; }
    .page-spec nav a {
      margin-left: 12px; }
  .page-spec .section {
    padding: 40px 0 0;
    position: relative;
    text-align: right; }
    .page-spec .section--header {
      width: calc(100vw - 17px);
      background: #6f74dd;
      color: #fff;
      padding: 18px 24px;
      text-align: left; }
    .page-spec .section--content {
      display: flex;
      flex-wrap: wrap;
      padding: 46px 54px; }
  .page-spec #colors .section--content {
    max-width: 565px; }
  .page-spec #colors .color {
    width: 152px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18px; }
    .page-spec #colors .color:before {
      content: '';
      display: block;
      height: 64px;
      width: 64px;
      margin-bottom: 12px;
      border-radius: 100%;
      box-shadow: 0 1px 3px rgba(51, 51, 51, 0.12), 0 1px 2px rgba(51, 51, 51, 0.24); }
  .page-spec #colors .white {
    flex-basis: 100%; }
    .page-spec #colors .white:before {
      background-color: #fff; }
  .page-spec #colors .grey_light:before {
    background-color: #ccc; }
  .page-spec #colors .grey:before {
    background-color: #666; }
  .page-spec #colors .grey_dark:before {
    background-color: #333; }
  .page-spec #colors .color_main_light:before {
    background-color: #6f74dd; }
  .page-spec #colors .color_main:before {
    background-color: #3949ab; }
  .page-spec #colors .color_main_dark:before {
    background-color: #00227b; }
  .page-spec #colors .color_secondary_light:before {
    background-color: #819ca9; }
  .page-spec #colors .color_secondary:before {
    background-color: #546e7a; }
  .page-spec #colors .color_secondary_dark:before {
    background-color: #29434e; }
  .page-spec #colors .color_success:before {
    background-color: #4caf50; }
  .page-spec #colors .color_danger:before {
    background-color: #f44336; }
  .page-spec #colors .color_warning:before {
    background-color: #ffc107; }
  .page-spec #typography .section--content {
    flex-direction: column;
    align-items: flex-start;
    text-align: left; }
    .page-spec #typography .section--content .head {
      margin-bottom: 12px; }
      .page-spec #typography .section--content .head > * {
        margin-bottom: 12px;
        color: #333; }
    .page-spec #typography .section--content .body > * {
      margin-bottom: 12px;
      color: #333; }
    .page-spec #typography .section--content .link p {
      padding: 12px;
      display: block;
      margin-left: -12px;
      color: #333; }
    .page-spec #typography .section--content .link .dark {
      background: #3949ab;
      color: #fff; }
  .page-spec #shadows .section--content > div {
    height: 150px;
    width: 150px;
    margin-right: 52px; }
    .page-spec #shadows .section--content > div:nth-child(1) {
      box-shadow: 0 1px 3px rgba(51, 51, 51, 0.12), 0 1px 2px rgba(51, 51, 51, 0.24); }
    .page-spec #shadows .section--content > div:nth-child(2) {
      box-shadow: 0 3px 6px rgba(51, 51, 51, 0.16), 0 3px 6px rgba(51, 51, 51, 0.23); }
    .page-spec #shadows .section--content > div:nth-child(3) {
      box-shadow: 0 10px 20px rgba(51, 51, 51, 0.19), 0 6px 6px rgba(51, 51, 51, 0.23); }
    .page-spec #shadows .section--content > div:nth-child(4) {
      box-shadow: 0 14px 28px rgba(51, 51, 51, 0.25), 0 10px 10px rgba(51, 51, 51, 0.22); }
    .page-spec #shadows .section--content > div:nth-child(5) {
      box-shadow: 0 19px 38px rgba(51, 51, 51, 0.3), 0 15px 12px rgba(51, 51, 51, 0.22); }
