@import './import/import-file';

.admin {
    display: block;
    margin-top: 60px;
    max-width: 900px;
    padding: 32px;
}

.tabs-panel {
    .tabs-indicator {
        background: $color_main;
    }
}

.table {
    display: inline;
}