@import './import/import-file';

.container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background: $white;
}

.title__wrap {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 32px;
    justify-content: space-between;
    
    > div {
        display: flex;
        flex-direction: column;
    }
}

.title {
    @extend %tp-h1;
    display: flex;
    align-self: baseline;
    color: $white;
    font-weight: 600;
    padding: 0 24px 2px 18px;
    letter-spacing: 1px;
    background: $color_main;
}

.sign {
    @extend %tp-h3;
    color: $white;
    font-weight: 100;
}

.disclaimer {
    @extend %tp-p-xs;
    color: $grey;
    &:not(:first-of-type) {
        margin-top: 12px;
    }
}

.form__wrap {
    width: 60%;
    background: $color_main;
    padding: 32px;
    height: 100vh;
    overflow: auto;
    @include shadow(2);
}

.form__title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 20vh;
    p {
        @extend %tp-h2;
        color: $color_main;
        background: $white;
        padding: 0 24px 2px 18px;
        font-weight: 600;
    }
}

.party__title {
    @extend %tp-h4;
    color: $white;
    margin-bottom: 24px;
    align-self: flex-start;
}

.form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.fields-container {
    padding: 14px 24px 6px;
    background: $white;
    margin-bottom: 12px;
    width: 100%;
    
    > button {
        margin-top: -12px;
    }
}

.thanks-text {
    color: $white;
    
    h3 {
        @extend %tp-h4;
        margin-bottom: 12px;
    }
    
    p {
        @extend %tp-p-l;
        margin-bottom: 6px;
    }
}