@import './import/importFile';

.header {
  background-color: $color_main_dark;
  padding: 12px 24px;
  color: #fff;
  display: flex;
  align-items: center;
  font-family: $font-head;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 42px;
  z-index: 10;
  @include shadow(1);
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 24px 18px;
  a {
    @extend %tp-p-m;
  }
  li {
    margin-bottom: 18px;
  }
}

.text {
  margin: 0;
}

.text-sm {
  font-size: 14px;
}

.text-md {
  font-size: 18px;
}

.text-lg {
  font-size: 24px;
}
