@import './import/reset';
@import './import/colors';
@import './import/typography';

.header {
  background-color: $blue;
  padding: 12px 18px;
  color: #fff;
  display: flex;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  p { margin-right: 48px; }
}

.menu {
  display: flex;
  a {
    color: $grey-light;
    margin-right: 18px;
    &.active { color: #fff; }
    &:hover { color: #fff; }
  }
}

.text {
  margin: 0;
}

.text-sm {
  font-size: 14px;
}

.text-md {
  font-size: 18px;
}

.text-lg {
  font-size: 24px;
}
