@import './import/import-file';

@mixin buttonColor($color: $color_main) {
  &.button_shape {
    &_solid {
      @include shadow(1);
      background: $color;
      border-color: $color;
      color: $white;
      &:active {
        @include shadow(3);
        background: darken($color, 10%);
        border-color: darken($color, 10%);
      }
    }
    &_ghost {
      border-color: $color;
      border-width: 1px;
      color: $color;
      &:active {
        border-color: darken($color, 10%);
        color: darken($color, 10%);
      }
    }
    &_flat {
      color: $color;
      &:not(.button-icon_pure):active {
        background: $grey_light;
        color: darken($color, 10%);
      }
    }
  }
}

.button {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  @extend %button;
  align-items: center;
  background: none;
  border-color: transparent;
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  display: inline-flex;
  font-weight: 500;
  outline: 0;
  text-transform: uppercase;
  transition: background .2s, border .2s, color .2s, box-shadow .2s, opacity .2s;
  user-select: none;
  &:disabled {
    opacity: .4;
    pointer-events: none;
  }
  &_size {
    &_sm {
      font-size: .8rem;
      height: 34px;
      line-height: 32px;
      padding: 0 16px;
    }
    &_md {
      font-size: .9rem;
      height: 36px;
      line-height: 32px;
      padding: 0 16px;
    }
    &_lg {
      font-size: .9rem;
      height: 36px;
      line-height: 32px;
      padding: 0 16px; 
    }
  }
  &_duty {
    &_simple:not(.button_inline) { @include buttonColor($color_main); }
    &_light:not(.button_inline) { @include buttonColor($white); }
    &_danger:not(.button_inline) { @include buttonColor($color_danger); }
    &_success:not(.button_inline) { @include buttonColor($color_success); }
  }
  &_full {
    width: 100%;
    justify-content: center;
  }
  &_sharp {
    border-radius: 0;
  }
  &.button_inline {
    background: transparent;
    color: $color_main_light;
    font-size: inherit;
    font-weight: inherit;
    height: auto;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-transform: none;
    &:hover {
      color : $color_main;
    }
  }
}
.button-icon {
  padding-left: 10px;
  i {
    margin-top: -2px;
    padding-right: 6px;
  }
  &_pure {
    padding: 0;
    i { padding: 0 }
  }
}

.fab {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  @include shadow(3);
  align-items: center;
  animation: FAB .4s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
  background: $color_secondary;
  border-radius: 60px;
  border: 0;
  bottom: 16px;
  color: $white;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  height: 56px;
  justify-content: center;
  line-height: 14px;
  max-width: 56px;
  min-width: 56px;
  outline: none;
  position: fixed;
  transition: .4s max-width 3s;
  transition: background .2;
  z-index: 50;
  &_position {
    &_left {
      left: 16px;
    }
    &_right {
      right: 16px;
    }
    &_inline {
      position: static;
    }
  }
  &_expanded {
    animation: FAB-expanded .8s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
    justify-content: space-between;
    padding: 0 16px;
    will-change: auto;
    .fab__label {
      @extend %tp-p-xs;
      display: inline;
      letter-spacing: 0.05rem;
      padding-left: 8px;
      text-transform: uppercase;
      will-change: auto;
      
    }
  }
  
  &__label {
    animation: FAB-expanded-label .8s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
    display: none;
    max-width: 0;
    opacity: 0;
    padding-left: 0;
  }
}

@keyframes FAB {
  from {
    opacity: .8;
    transform: scale(.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes FAB-expanded {
  0% {
    max-width: 300px;
    opacity: .8;
    transform: scale(.8);
  }
  50% {
    height: 56px;
    max-width: 300px;
    opacity: 1;
    transform: scale(1);
  }
  100% {
    height: 48px;
    max-width: 300px;
  }
}

@keyframes FAB-expanded-label {
  0% {
    opacity: 0;
    padding-left: 0;
    transform: translateX(20px);
    width: 0;
  }
  50% {
    opacity: 0;
    padding-left: 0;
    transform: translateX(20px);
    width: 0;
  }
  100% {
    max-width: 200px;
    opacity: 1;
    padding-left: 8px;
    transform: translateX(0);
  }
}
