@import './import/import-file';

.modal {
  @include animation(opacity, medium);
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 110;
  &_active {
    opacity: 1;
    pointer-events: auto;
  }
  
  &__body {
    background: $white;
    width: 300px;
    z-index: 11;
    border-radius: 4px;
    padding: 18px 8px 8px 24px;
  }
  
  &__overlay {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100vw;
    background: rgba(0, 0, 0, .6);
    z-index: 10;
  }
}