@import './import/import-file';

.modal {
  @include animation(opacity, medium);
  align-items: center;
  display: flex;
  height: calc(100vh - 60px);
  justify-content: center;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 60px;
  width: 100vw;
  z-index: 11;
  &_active {
    opacity: 1;
    pointer-events: auto;
  }
  
  &__body {
    background: $white;
    height: 200px;
    width: 200px;
    z-index: 11;
  }
  
  &__overlay {
    position: fixed;
    left: 0;
    top: 60px;
    height: calc(100vh - 60px);
    width: 100vw;
    background: rgba(0, 0, 0, .6);
    z-index: 10;
  }
}