@import './import/importFile';

.quest {
  @include shadow(1);
  background: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 6px 6px;
  max-height: 135px;
  min-height: 54px;
  padding: 12px 42px 12px 18px;
  position: relative;
}

.quest-title {
  @extend %tp-p-m;
}

.quest-description {
  @extend %tp-p-xs;
  color: $color_secondary;
  margin-top: 6px;
  max-height: 54px;
  overflow: hidden;
}

.bottom-panel {
  display: flex;
  justify-content: flex-start;
  justify-self: flex-end;
}

.quest-goal {
  @extend %tp-p-s;
  flex: 1;
  font-weight: 700;
}

.quest-reward {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  
  p {
    @extend %tp-p-xs;
    align-items: center;
    color: $color_secondary_dark;
    display: inline-flex;
    font-size: 15px;
    height: 100%;
    margin-top: 12px;
  }
}

.coin {
  &:not(:first-of-type) {
    margin-left: 10px;
  }
  &:before {
    // margin-bottom: 1px;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    content: '';
    display: block;
    height: 12px;
    margin-right: 3px;
    width: 12px;
  }
}

.coin__gold {
  &:before {
    border-color: $color_gold;
  }
}

.coin__silver {
  &:before {
    border-color: $color_silver;
  }
}

.coin__bronze {
  &:before {
    border-color: $color_bronze;
  }
}

.reward__item {
  margin-left: 6px;
  &:before {
    background: url(../icons/sword.svg);
    content: '';
    display: inline-block;
    height: 14px;
    margin-bottom: 2px;
    margin-right: 2px;
    width: 14px;
  }
}

.quest-edit {
  position: absolute;
  right: 6px;
  top: 6px;
}

.quest-delete {
  margin-top: 6px;
}
