@import './import/importFile';

.quest {
  width: 100%;
  padding: 12px 24px;
  margin-bottom: 6px;
  position: relative;
  background: $white;
  min-height: 134px;
  display: flex;
  flex-direction: column;
  @include shadow(1);
}

.quest-title {
  @extend %tp-p-l;
  margin-bottom: 12px;
}

.quest-description {
  @extend %tp-p-s;
  margin-bottom: 12px;
}

.bottom-panel {
  display: flex;
  margin-top: auto;
  justify-self: flex-end;
}

.quest-goal {
  @extend %tp-p-s;
  font-weight: 700;
  flex: 1;
}

.quest-reward {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  p {
    @extend %tp-p-xs;
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    color: $color_secondary_dark;
  }
}

.coin {
  margin-left: 10px;
  &:before {
    content: '';
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    margin-right: 3px;
    // margin-bottom: 1px;
  }
}

.coin__gold {
  &:before {
    border-color: $color_gold;
  }
}

.coin__silver {
  &:before {
    border-color: $color_silver;
  }
}

.coin__bronze {
  &:before {
    border-color: $color_bronze;
  }
}

.reward__item {
  margin-left: 6px;
  &:before {
    content: '';
    display: inline-block;
    background: url(../icons/sword.svg);
    height: 14px;
    width: 14px;
    margin-bottom: 2px;
    margin-right: 2px;
  }
}

.quest-edit {
  position: absolute;
  top: 6px;
  right: 6px;
}

.quest-delete {
  margin-top: 6px;
}
