@import './import/importFile';

.quest {
  width: 100%;
  padding: 12px 24px;
  margin-bottom: 6px;
  position: relative;
  background: $white;
  min-height: 134px;
  display: flex;
  flex-direction: column;
  @include shadow(1);
}

.quest-title {
  @extend %tp-p-l;
  margin-bottom: 12px;
}

.quest-description {
  @extend %tp-p-s;
}

.bottom-panel {
  display: flex;
  margin-top: auto;
  justify-self: flex-end;
}

.quest-goal {
  @extend %tp-p-xs;
  font-weight: 700;
  flex: 1;
}

.quest-reward {
  @extend %tp-p-xs;
  text-align: right;
  flex: 1;
  color: $color_secondary;
}

.quest-edit {
  position: absolute;
  top: 6px;
  right: 6px;
}

.quest-delete {
  margin-top: 6px;
}
