@import './import/import-file';

.page-pass {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.pass-form {
    max-width: 320px;
    padding: 24px;
    @include shadow(2);
    
    > h4 {
        @extend %tp-h4;
        margin-bottom: 24px;
    }
    
    > p {
        @extend %tp-p-s;
        margin-bottom: 32px;
    }
}