@import './import/shadows';

.sliding-panel {
  position: fixed;
  top: 60px;
  overflow: hidden;
  z-index: 11;
  transition: opacity .4s;
  height: calc(100vh - 60px);
  opacity: 0;
  pointer-events: none;
  width: 100vw;
  display: flex;
  
  &_no-overlay {
    z-index: 10;
    .sliding-panel_body {
      @include shadow(4);
    }
    .sliding-panel_overlay {
      display: none;
    }
  }
}

.sliding-panel_overlay {
  position: fixed;
  left: 0;
  top: 60px;
  height: calc(100vh - 60px);
  width: 100vw;
  background: rgba(0, 0, 0, .6);
  z-index: 10;
}

.sliding-panel_body {
  height: 100%;
  width: 70vw;
  background: #fff;
  position: relative;
  z-index: 11;
  transition: transform .3s;
}

.sliding-panel_side {
  &_left {
    justify-content: flex-start;
    .sliding-panel_body {
      transform: translateX(-100%);
    }
  }
  &_right {
    justify-content: flex-end;
    .sliding-panel_body {
      transform: translateX(100%);
    }
  }
}

.sliding-panel_active {
  opacity: 1;
  pointer-events: auto;
  
  .sliding-panel_body {
    transform: translateX(0);
  }
}
