@import './import/importFile';

.page-spec {
  margin-top: 48px;
  h1 {
    background: $blue-light;
    color: #fff;
    padding: 24px;
    font-size: 32px;
    font-family: sans-serif;
    text-transform: uppercase;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    width: 120px;
    background: $blue-light;
    height: 100vh;
    padding: 64px 18px;
    position: fixed;
    right: 0;
    top: 0;
    text-align: right;
    // transform: translateX(95%);
    a {
      margin-bottom: 12px;
    }
  }
  
  #ass,#ass2 {
    height: 100vh;
    background: #ccc;
  }
  #ass2 {
    background: #c6c6c6;
  }
}
