@import './import/import-file';

@mixin inputColor($colorNormal: $color_secondary_light, $colorFocus: $color_main) {
  .field {
    border-color: $colorNormal;
    color: $grey_dark;
    &__label {
      color: $colorNormal;
    }
  }

  &.field_focused {
    .field {
      border-color: $colorFocus;
      &__label {
        color: $colorFocus;
      }
    }
    &.field__textarea:before,
    &.field__textarea:after {
      border-color: $colorFocus;
    }
  }
}

.field_duty {
  &_normal {
    @include inputColor($color_secondary_light, $color_main);
    .field__message {
      color: $color_secondary_light;
    }
  }
  &_error {
    @include inputColor($color_danger, $color_danger);
    .field__message {
      color: $color_danger;
    }
  }
  &_sucess { @include inputColor($color_success); }
}

.field-wrap {
  margin-bottom: 24px;
  position: relative;
}

.field {
  @extend %tp-p-s;
  @include animation((background, border, box-shadow), fast);
  background: none;
  border-color: transparent;
  border-style: solid;
  outline: 0;
  padding: 6px 20px 6px 0;
  position: relative;
  width: 100%;
  &:disabled {
    opacity: .4;
    pointer-events: none;
  }
}

.field__label {
  @extend %tp-p-xxs;
  @include animation(transform, fast);
  pointer-events: none;
  text-align: left;
  transform-origin: bottom left;
  will-change: transform;
  z-index: 1;
}

.field_required {
  .field__label:after {
    content: '*'
  }
}

.field__input {
  position: relative;

  &:before {
    @include animation(width, fast);
    bottom: -1px;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    width: 0;
    will-change: width;
  }
  
  .field {
    border-width: 0;
    border-bottom-width: 1px;
  }
  
  .field__label {
    bottom: 8px;
    left: 0;
    position: absolute;
  }
  
  button {
    bottom: 3px;
    height: 24px;
    position: absolute;
    right: 0;
  }
}

.field__textarea {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 18px;
  min-height: 60px;
  position: relative;
  &:before,
  &:after {
    @include animation(transform, fast);
    border-radius: 3px;
    border-style: solid;
    border-width: 0;
    content: '';
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: scale(0);
    width: 100%;
    will-change: transform;
  }
  &:before {
    border-left-width: 2px;
    border-top-width: 2px;
    transform-origin: top left;
  }
  &:after {
    border-bottom-width: 2px;
    border-right-width: 2px;
    transform-origin: bottom right;
  }
  .field {
    border-radius: 2px;
    border-width: 1px;
    flex-grow: 1;
    padding: 18px 14px;
    resize: none;
  }
  .field__label {
    background: $white;
    left: 10px;
    padding: 0 4px;
    position: absolute;
    top: -6px;
    z-index: 1;
  }
}

.field_width {
  &_full {
    width: 100%;
  }
  &_min {
    max-width: 250px;
    width: 100%;
  }
}

.field__input {
  &.field_focused,
  &.field_filled {
    .field__label {
      transform: translateY(-24px) scale(.85);
    }
  }
}

.field__textarea {
  &.field_focused {
    &:before,
    &:after {
      transform: scale(1);
    }
  }
}

.field_focused {
  &:before { width: 100%; }
}

.field__message {
  @extend %tp-p-xxxs;
  bottom: -1px;
  position: absolute;
  right: 0;
  transform: translateY(100%);
}
