@import './import/importFile';

@mixin inputColor($color: $color_main) {
  .field {
    border-color: $grey_dark;
    color: $grey_dark;
  }
  .field__label {
    color: $grey_light;
  }

  &.field_focused {
    .field {
      border-color: $color;
    }
    .field__label {
      color: $color;
    }
    &.field__textarea:before,
    &.field__textarea:after {
      border-color: $color;
    }
  }
}

.field {
  @extend %tp-p-s;
  border-style: solid;
  outline: 0;
  margin-bottom: 8px;
  padding: 8px 0;
  background: none;
  border-color: transparent;
  position: relative;
  width: 100%;
  @include animation((background, border, box-shadow), fast);
  &:disabled {
    opacity: .4;
    pointer-events: none;
  }
}

.field_duty {
  &_normal { @include inputColor($color_main); }
  &_error { @include inputColor($color_danger); }
  &_sucess { @include inputColor($color_success); }
}

.field__label {
  @extend %tp-p-xxs;
  text-align: left;
  pointer-events: none;
  @include animation(transform, fast);
}

.field__input {
  position: relative;

  &:before {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 9px;
    background: $color_main;
    @include animation(width, fast);
  }
  
  .field {
    border-width: 0;
    border-bottom-width: 1px;
  }
  
  .field__label {
    transform: translateY(200%);
  }
}

.field__textarea {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 6px;
  position: relative;
  &:before,
  &:after {
    content: '';
    height: calc(100% - 32px);
    width: 100%;
    position: absolute;
    top: 25px;
    left: 0;
    border-width: 0;
    border-style: solid;
    border-radius: 3px;
    transform: scale(0);
    pointer-events: none;
    @include animation(transform, fast);
  }
  &:before {
    border-top-width: 2px;
    border-left-width: 2px;
    transform-origin: top left;
  }
  &:after {
    border-bottom-width: 2px;
    border-right-width: 2px;
    transform-origin: bottom right;
  }
  .field {
    border-radius: 2px;
    border-width: 1px;
    resize: none;
    padding: 28px 14px;
    flex-grow: 1;
  }
  .field__label {
    transform: translate(2px, calc(100% + 1px));
    width: calc(100% - 14px);
    padding-top: 8px;
    padding: 8px 14px 6px;
    background: $white;
    z-index: 1;
  }
}

.field_width {
  &_full {
    width: 100%;
  }
  &_min {
    max-width: 250px;
    width: 100%;
  }
}


.field__input {
  &.field_focused,
  &.field_filled {
    .field__label {
      transform: translateY(0);
    }
  }
}

.field__textarea {
  &.field_focused {
    &:before,
    &:after {
      transform: scale(1);
    }
    .field {
      // border-width: 2px;
      
    }
  }
}

.field_focused {
  &:before { width: 100%; }
}
